<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>

<sly data-sly-call="${clientlib.css @ categories='drive.campaign'}"/>

<sly data-sly-call="${clientlib.js @ categories='drive.campaign'}"/>

<sly data-sly-use.model="com.drive.core.models.ApiProductsModel"/>

<div class="api-products">

    <h1 class="products-main-heading">
        Campaign Products
    </h1>

    <h2 class="products-sub-heading">
        ${model.heading}
    </h2>

    <div id="products">

    </div>

</div>