<sly data-sly-use.employee="com.drive.core.models.EmployeeDetailsModel">


    <div class="employee-details">

        <h2>Employee Details</h2>

        <p>
            <strong>Employee Name:</strong>
            ${employee.employeeName}
        </p>

        <p>
            <strong>Employee Role:</strong>
            ${employee.employeeRole}
        </p>

        <p>
            <strong>Employee Email:</strong>
            ${employee.employeeEmail}
        </p>

        <div data-sly-test="${employee.enableChapterDetails}">

            <h3>Chapter Details</h3>

            <p>
                <strong>Chapter Name:</strong>
                ${employee.chapterName}
            </p>

            <p>
                <strong>Chapter Number:</strong>
                ${employee.chapterNumber}
            </p>

            <p>
                <strong>Chapter Description:</strong>
                ${employee.chapterDescription}
            </p>

        </div>

    </div>

